:root{
    --background-color: #DCC7A1;
    --secondary-color: #8a4bb5;
    --height-header: 65px;
    --color-white: white;
    --text-font: "Outfit", sans-serif;
    --tlitle-font: "Dancing Script", cursive;
    --max-width: 90%;
    --chocolate-color: #895129;
    --morado-gradient-color: linear-gradient(180deg, #8F63CB, #6E47B5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--text-font);
}

.logo{
    width: 4em;
    height: 4em;
    filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.5));
}

.header{
    background-color: var(--background-color);
    height: var(--height-header);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 2rem;
}

.menu:checked + .ul_links{
    height: 30vh;
}

a{
    text-decoration: none;
}

ol, li{
    list-style: none;
}

.menu{
    display: none;
}

.ul_links{
    width: 100%;
    background-color: var(--background-color);
    position: absolute;
    top: var(--height-header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s;
    padding: 0 2rem;
    z-index: 10;
}

.nav_link{
    color: var(--secondary-color);
    font-size: 1em;
}

.list_icon{
    width: 4em;
    height: 4em;
    cursor: pointer;
    color: var(--secondary-color);
}

.nav_contacto{
    background-color: var(--secondary-color);
    height: 40px;
    border-radius: 30px;
    border-style: none;
    font-size: 1em;
    color: var(--color-white);
    font-family: var(--text-font);
    cursor: pointer;
    margin-top: 1rem;
}

.nav_item:first-child{
    padding-top: 2rem;
}

.hero{
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  overflow: hidden;
}

.hero_video{
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
  max-height: 94vh;
  object-fit: cover;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  pointer-events: none;
  z-index: 1; 
}

.hero_content {
  position: absolute; 
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  z-index: 2; 
}

.hero_content h1{
    font-family: var(--tlitle-font);
    color: white;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.9);
    font-weight: 700;
    margin: 0;
    font-size: clamp(2.7rem, 5vw, 10rem);
}

.hero_content p{
    color: #DCC7A1;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.9);
    font-weight: 700;
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 2rem);
}

.section_menu{
    background-color: var(--background-color);
    padding: 0 1rem;
}

.menu_img img{
    width: var(--max-width);
    height: auto;
    filter: drop-shadow(0px 8px 12px rgba(0,0,0,0.15));  
}

.menu_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
}

.menu_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3em;
    padding-top:  4em;
    padding-bottom: 2em;
    max-width: 400px;
    margin: 0 auto;
}

.menu_info h2{
    font-style: italic;
    font-weight: 500;
    color: var(--chocolate-color);
    font-size: clamp(1.5rem, 2vw, 4rem);
}

.menu_info h1{
    color: var(--color-white);
    text-shadow: 0 4px 12px rgba(0,0,0,0.3);
    font-weight: 700;
    font-size: clamp(2rem, 5vw, 4rem);
    width: 100%;
}

.menu_line{
    width: 50%;
    height: 5px;
    background-color: #c7a4ff;
    border-radius: 20px;
    margin-top: -40px;
    opacity: 0.8;
}

.section_menu button{
    color: var(--color-white);
    background-color: var(--chocolate-color);
    width: 70%;
    height: 60px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}

.section_pinturas_bg{
    width: 100%;
    padding: 4em 0;
    background: var(--morado-gradient-color);
}

.section_pinturas{
    margin: 0 auto;
    max-width: var(--max-width);    
}

.pinturas_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    gap: 30px;
    padding-bottom: 3em;
}

.pinturas_info h1{
    text-shadow: 0 4px 12px rgba(0,0,0,0.3);
    font-size: 40px;
    font-weight: 700;
}

.pinturas_info h1::after {
    content: "";
    display: block;
    width: 220px;
    height: 4px;
    background: #D7B9FF;
    margin: 10px auto 0;
    border-radius: 10px;
}

.pinturas_info h3{
    margin-top: -20px;
    font-size: 22px;
    font-weight: 600;
    opacity: 0.95;
    font-style: italic;
}

.pinturas_info p{
    max-width: 320px;
    margin: 0 auto;
    line-height: 1.6;
    opacity: 0.8;
    margin-top: 30px;
    color: #f8f5ff;
    font-size: 18px;
}

.pinturas_img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 25px;
}

.pinturas_img .main_img{
    grid-column: 1 / 3;
    object-fit: cover;
    width: 85%;
    margin: 0 auto;
}

.section_pinturas img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.18);
    object-fit: cover;
}

.section_historia_bg{
    background-color: var(--background-color);
    color: var(--chocolate-color);
    padding: 4em 2em;
}

.section_historia_bg img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.18);
}

.historia_titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-bottom: 1em;
}

.historia_titles h1{
    font-size: 2.7em;
    text-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.historia_titles h3{
    font-size: 1.4em;
    font-style: italic;
    font-weight: 500;
    opacity: 0.8;
    width: 100%;
}

.historia_titles h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--chocolate-color);
    border-radius: 10px;
    margin: 20px 0;
}

.historia_parts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.parrafo2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.historia_parts p{
    font-size: 1em;
}

footer img{
    width: 4em;
    height: auto;
}

.footer{
    background-color: var(--secondary-color);
    color: var(--color-white);
    padding: 2em 2em;
}

.footer_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_logo h2{
    font-family: var(--tlitle-font);
}

.ul_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.ul_footer a{
    color: var(--color-white);
}

.footer_list{
    margin: 2em 0;
}

.footer_redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social_icon{
    color: white;
    border-radius: 100%;
    border: solid white 2px;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.footer_rights::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--color-white);
    border-radius: 10px;
    margin: 20px 0;
}

.footer_rights p{
    font-size: 1em;
    text-align: center;
}


@media (min-width: 480px) { 
    .section_menu{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem;
        gap: 1rem;
    }
    .menu_info, .menu_img{
        padding: 0;
        max-width: 50%;
    }
}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) {
    .section_menu button{
    width: 40%;

}
}

@media (min-width: 1200px) { 

}

@media (min-width: 1440px) {
    
}
