:root{
    --background-color: #DCC7A1;
    --secondary-color: #8a4bb5;
    --height-header: 65px;
    --color-white: white;
    --text-font: "Outfit", sans-serif;
    --tlitle-font: "Dancing Script", cursive;
    --max-width: 90%;
    --chocolate-color: #895129;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--text-font);
}

.logo{
    width: 4em;
    height: 4em;
    filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.5));
}

.header{
    background-color: var(--background-color);
    height: var(--height-header);
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 2rem;
}

.menu:checked + .ul_links{
    height: 30vh;
}

a{
    text-decoration: none;
}

ol, li{
    list-style: none;
}

.menu{
    display: none;
}

.ul_links{
    width: 100%;
    background-color: var(--background-color);
    position: absolute;
    top: var(--height-header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s;
    padding: 0 2rem;
    z-index: 10;
}

.nav_link{
    color: var(--secondary-color);
    font-size: 1em;
}

.list_icon{
    width: 4em;
    height: 4em;
    cursor: pointer;
    color: var(--secondary-color);
}

.nav_contacto{
    background-color: var(--secondary-color);
    height: 40px;
    border-radius: 30px;
    border-style: none;
    font-size: 1em;
    color: var(--color-white);
    font-family: var(--text-font);
    cursor: pointer;
    margin-top: 1rem;
}

.nav_item:first-child{
    padding-top: 2rem;
}

.hero{
    position: relative;
    width: 100%;
    height: 54vh;
    overflow: hidden;
}

.hero_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -260px;
    z-index: -2;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); 
  z-index: -1;
}

.hero_content {
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero_content h1{
    font-family: var(--tlitle-font);
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.9);
    font-weight: 700;
    margin: 0;
}

.hero_content p{
    font-size: 20px;
    color: #DCC7A1;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.9);
    font-weight: 700;
    margin: 0;
}

.section_menu{
    background-color: var(--background-color);
}

.menu_img img{
    width: var(--max-width);
    height: auto;
    filter: drop-shadow(0px 8px 12px rgba(0,0,0,0.15));  
}

.menu_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
}

.menu_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3em;
    padding: 4em 1.5em;
    padding-bottom: 2em;
}

.menu_info h2{
    font-style: italic;
    font-weight: 500;
    color: var(--chocolate-color);
}

.menu_info h1{
    color: var(--color-white);
    text-shadow: 0 4px 12px rgba(0,0,0,0.3);
    font-weight: 700;
    font-size: 40px;
}

.menu_line{
    width: 220px;
    height: 5px;
    background-color: #c7a4ff;
    border-radius: 20px;
    margin-top: -40px;
    opacity: 0.8;
}

.section_menu button{
    color: var(--color-white);
    background-color: var(--chocolate-color);
    width: 55%;
    height: 60px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}

.section_pinturas_bg{
    width: 100%;
    padding: 4em 0;
    background: linear-gradient(180deg, #8F63CB, #6E47B5);
}

.section_pinturas{
    margin: 0 auto;
    max-width: var(--max-width);    
}

.pinturas_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    gap: 30px;
    padding-bottom: 3em;
}

.pinturas_info h1{
    text-shadow: 0 4px 12px rgba(0,0,0,0.3);
    font-size: 40px;
    font-weight: 700;
}

.pinturas_info h1::after {
    content: "";
    display: block;
    width: 220px;
    height: 4px;
    background: #D7B9FF;
    margin: 10px auto 0;
    border-radius: 10px;
}

.pinturas_info h3{
    margin-top: -20px;
    font-size: 22px;
    font-weight: 600;
    opacity: 0.95;
}

.pinturas_info p{
    max-width: 320px;
    margin: 0 auto;
    line-height: 1.6;
    opacity: 0.8;
    margin-top: 30px;
    color: #f8f5ff;
    font-size: 18px;
}

.pinturas_img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 25px;
}

.pinturas_img .main_img{
    grid-column: 1 / 3;
    object-fit: cover;
    width: 85%;
    margin: 0 auto;
}

.section_pinturas img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.18);
    object-fit: cover;
}


