:root{
    --color-backgound: #232831;
    --primary-font: white;
    --hero-font: #ff7575;
    --secondary-color: #898989;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: var(--color-backgound);
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0.5px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    font-size: 20px;
}

header a{
    color: var(--primary-font);
    text-decoration: none;
}

.navbar a{
    margin-left: 2em;   
}

.hero{
    display: flex;
    flex-direction: column;
    margin: 2em;
    align-items: center;
}

.hero img{
    width: 10em;
}

.hero h1{
    color: var(--hero-font);
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    margin: 1rem;
}

.hero h4{
    color: var(--primary-font);
    font-weight: 500;
    margin-bottom: 2rem;
}

.line{
    border: none;
    background-color: var(--secondary-color);
    opacity: 0.5;
    height: 1px;
}

.filters{
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.filters a{
    color: var(--secondary-color);
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
}

.filters img{
    height: 20px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2em;
    row-gap: 2em;
    margin-top: 5em;
}

.card{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    background-color: var(--primary-font);
    border-radius: 22px;
    gap: 40px;
    padding: 20px;
}

.card img {
    width: 100%;
}